$font-family: "Roboto Light", sans-serif;
$MuiTypography-root-font-weight: 300;

$MuiTypography-body1-font-size: 12px;
$MuiTypography-body1-line-height: 16px;
$MuiTypography-body1-font-weight: 400;

$MuiTypography-body2-font-size: 12px;
$MuiTypography-body2-line-height: 16px;
$MuiTypography-body2-font-weight: 300;

$MuiTypography-h1-font-size: 24px;
$MuiTypography-h1-line-height: 30px;
$MuiTypography-h1-font-weight: 400;

$MuiTypography-h2-font-size: 14px;
$MuiTypography-h2-line-height: 18px;
$MuiTypography-h2-font-weight: 500;

/*$MuiTypography-button-font-size: 10px;
$MuiTypography-button-line-height: 14px;
$MuiTypography-button-font-weight: 500;*/

$MuiTypography-caption-font-size: 10px;
$MuiTypography-caption-line-height: 14px;
$MuiTypography-caption-font-weight: 400;