$mainBackgroundColor: #fafafa;
$mainGreyColor: rgb(221, 225, 235);
.dt-table {

  .flex {
    display: flex;
  }

  thead.dt-head {

    .dt-head-cell {
      text-align: center;
    }

    div.flex {
      justify-content: center;
    }

    .dt-sortable-head-cell {
      cursor: pointer;
    }

    .dt-expand-column-head {
      width: 40px;
      padding: 0 !important;
    }
    .dt-selection-column-head {
      width: 20px !important;

      padding: 0px 10px 0px 5px !important;
    }
  }

  tbody {
    .dt-column-body-action-cell,
    .dt-column-date-body-cell,
    .dt-column-select-body-cell,
    .dt-column-string-body-cell,
    .dt-column-bool-body-cell {
      display: flex;
      justify-content: center;
    }

    .dt-column-int-body-cell,
    .dt-column-decimal-body-cell,
    .dt-column-currency-body-cell {
      display: flex;
      justify-content: end;
    }

    .dt-column-body-action-cell {
      .dt-action-btn {
        cursor: pointer;
      }
    }

    .dt-selection-column {
      width: 20px !important;
      padding-left: 5px !important;
      padding-right: 10px !important;
    }

    .dt-expand-column {
      padding: 0 !important;
      background-color: $mainGreyColor;
      width: 40px;
      div {
        height: 45px !important;
        background-color: $mainBackgroundColor;
      }
    }

    .dt-expand-table-row-icon-container {
      padding-top: 8px;
      cursor: pointer;
    }
  }
}





.dt-edit-dialog {
  .dt-edit-form-control:not(.dt-edit-form-control:last-of-type) {
    margin-bottom: 16px;
  }

  .dt-edit-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 16px 24px;
  }
}