$contrastText: #fff;

$colors-primary-light: #70D6FD;
$colors-primary-main: #48B1FF;
$colors-primary-dark: #026B93;
$colors-primary-contrastText: $contrastText;
$colors-primary-black: #212A38;

$colors-error-main: #FC4850;
$colors-error-contrastText: $contrastText;

$colors-info-light: #70D6FD;
$colors-info-main: #48B1FF;
$colors-info-dark: #026B93;
$colors-info-contrastText: $contrastText;

$colors-success-main: #36C960;
$colors-success-contrastText: $contrastText;

  //LightGray50%
  $colors-grey-lightGray50: #EEF0F5;
  //LightGray
  $colors-grey-lightGra: #DDE1EB;
  //Black20%
  $colors-grey-black20: #D3D4D7;
  //black50%
  $colors-grey-black50: #90949B;
  //DarkGray
  $colors-grey-darkGray: #404D56;
  //black
  $colors-grey-black: #212A38;
