@import "src/styles/overrides/colors/colors";
@import "navigayion-variables";

.MuiAppBar-colorPrimary {
  background-color: $colors-primary-main !important;
}

.MuiAppBar-root {
  box-shadow: $appbar-box-shadow !important;
}

.MuiAppBar-colorSecondary {
  background-color: $colors-primary-main !important;
}

.MuiTabs-indicator {
  background-color: $colors-primary-main !important;
}

.MuiTabs-root {
  min-height: 0 !important;
  min-width: 0 !important;
}

.MuiTab-textColorInherit {
  color: $colors-primary-main !important;
  opacity: 1 !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

.MuiTab-root {
  padding: 0 !important;
  margin: 12px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  min-height: 0 !important;
  min-width: 0 !important;
  color: $colors-primary-main !important;
  opacity: 1 !important;

  &.Mui-disabled {
    color: $colors-grey-black50 !important;
    opacity: 1 !important;
  }
}

.MuiList-root {
  .MuiListItemIcon-root {
    color: $colors-primary-main;
  }
  .MuiListItem-root {
    &.active {
      color: $colors-primary-contrastText !important;
      background-color: $colors-primary-main !important;
    }
  }
}
