@import "src/styles/overrides/global-variables";


$button-width: 118px;
$button-height: 34px;
$button-border-radius: 3px;
$button-text-align: center;
$button-box-shadow: $box-shadow;
$button-disable-opacity: $global-disabled-opacity;
$button-margin-right-last-child: 0;

